<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE logback>
<configuration>

	<springProfile name="dev">
		<property name="LOG_HOME" value="D:\\" />
		<property name="LOG_FILE" value="dummy-dev.log" />
	</springProfile>

	<springProfile name="test">
		<property name="LOG_HOME" value="/opt/tomcat1/logs" />
		<property name="LOG_FILE" value="dummy-test.log" />
	</springProfile>

	<springProfile name="demo">
		<property name="LOG_HOME" value="/opt/tomcat1/logs" />
		<property name="LOG_FILE" value="dummy-demo.log" />
	</springProfile>

	<springProfile name="prod">
		<property name="LOG_HOME" value="/opt/tomcat/logs" />
		<property name="LOG_FILE" value="dummy-web.log" />
	</springProfile>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %M %L : %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${LOG_FILE}</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %M %L : %msg%n</Pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/archived/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="com.aashdit">
		<level value="debug" />
	</logger>
	
	<logger name="com.article275">
		<level value="debug" />
	</logger>

	<logger name="org.springframework">
		<level value="error" />
	</logger>

	<logger name="org.hibernate">
		<level value="error" />
	</logger>

	<logger name="org.apache">
		<level value="error" />
	</logger>

	<logger name="org.eclipse">
		<level value="error" />
	</logger>

	<logger name="com.zaxxer.hikari">
		<level value="error" />
	</logger>
	
	<logger name="io.lettuce.core">
		<level value="error" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</root>

</configuration>
	
