/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  overflow: hidden;
  background-color: #e8e8e8!important;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px; 
  background: url(../../assets/image/s-bg.jpg);
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 62px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details img{
   height: auto;
   width: 220px;
   transition: all 0.5s ease;
}
.sidebar.close .logo-details img{
   height: auto;
   width: 70px;
   transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: calc(100vh - 80px);
  overflow: auto;
  padding: 0;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all linear 0.5s;
  padding: 0 7px;
  border-bottom: #c1dfc6 1px dotted;
}

.sidebar.close i {
    padding-left: 18px;
}

.sidebar .nav-links li:hover {
  background: #11543d73;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 24px;
   text-align: center;
  line-height: 50px;

  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li:hover i{
  color: #ffffff;
}
.sidebar .nav-links li.active i{
  color: #ffffff;
  font-weight: 500;
}
.sidebar .nav-links li:hover i.arrow{
  color: #fff;
}

.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    color: #ffffff;
    transition: all 0.4s ease;
    letter-spacing: 0.2px;
}
.sidebar .nav-links li:hover a .link_name{
  color: #ffffff;
}
.sidebar .nav-links li.active a .link_name{
  color: #ffffff;
  font-weight: 500;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
     margin-top: -8px;
    background: #11b07a0d;
    display: none;
    transition: all 0.5s ease;
    height: 0;
    padding-left: 22px;
    padding-bottom: 6px;
}
.sidebar .nav-links li.showMenu{
  transition: all 0.5s ease;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
  transition: all 0.5s ease;
  height: auto;
}
.sidebar .nav-links li .sub-menu li{
  height: 0;
}
.sidebar .nav-links li.showMenu .sub-menu li{
  height: auto;
  border-bottom: none;
}
.sidebar .nav-links li .sub-menu li:hover{
  background: transparent;
}
.sidebar .nav-links li .sub-menu a {
     color: #ffffff;
    font-size: 13px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 12px 0;
    transition: all 0.5s ease;
    border-radius: 8px;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 37px;
  width: 37px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 14px 0 12px;
  background: #2dcbae;
  transition: all 0.5s ease;
} 
.bx-menu:before{
  display: none;
}

.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #ffffff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 0 18px;
  box-shadow: -2px 2px 15px 0px #00000026;
  z-index: 9999999;
      overflow-y: scroll;
      padding-bottom: 50px;
}
.sidebar.close ~ .home-section{
  left: 62px;
  width: calc(100% - 62px);
}
ul.sub-sub-menu {
    display: none;
    padding-left: 9px;
}
.home-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.home-section .divider{
  width: 100%;
  height: 30px;
  margin-top: -10px;
}
.home-section .divider img{
  width: 100%;
  height:auto;
  opacity: 0.2;
}
.home-section .divider-r{
  width: 100%;
  height: 30px;
  margin: 5px 0;
}
.home-section .divider-r img{
  width: 100%;
  height:auto;
  opacity: 0.2;
  transform: rotate(180deg);
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
    cursor: pointer;
    margin-right: 17px;
    color: #19d1b8;
    margin-top: -7px;
}

.home-section .home-content .text {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background: #1ed2b4;
    padding: 1px 16px;
    border-radius: 5px;
}
.breadcrumb {
    float: right;
    font-size: 12px;
}
.breadcrumb-item a {
    text-decoration: none;
    color: #000;
}
@media screen and (max-width: 400px){
  .sidebar{
    width: 260px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 260px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 260px;
    width: calc(100% - 260px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

.top-card-section{
  width: 100%;
    background: url(../img/cardbg.jpg) no-repeat top;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.card-custom-style-1{
  background: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  justify-content: end;
}
.card-custom-style-2{
  /*background-image: linear-gradient(140deg, #f3fffb, #e6f7f1);*/
  /*border-radius: 15px;
  height: 160px;
  box-shadow: -2px 0px 6px #00000054;
  padding: 10px;*/
  /*background-image: linear-gradient(140deg, #ff9b9fb3, #ffa9b1c7);*/
  background-image: linear-gradient(140deg, #22d296c2, #66ddae);
  border-radius: 15px;
  height: 146px;
  box-shadow: -2px 0px 6px #00000054;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: unset; */
  justify-content: end;
}
.card-custom-style-1 .card-image, .card-custom-style-2 .card-image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-custom-style-1 img, .card-custom-style-2 img{
    height: 60px;
    width: auto;
    opacity: 0.7;
}
.card-custom-style-1 h3, .card-custom-style-2 h3{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
  color: #000000;
}
.card-custom-style-1 h3 span, .card-custom-style-2 h3 span{
  font-size: 18px;
  color: #000000;
  border-bottom: 2px solid #ffffff;
}
.card-header-style{

}
.card-header-style h3{
  
    margin-bottom: 0;
    font-size: 13px;
    text-transform: initial;
    color: #12cec1;
}
.card-header {
  border-bottom: 0 !important;
  background-color: #fff!important;
}
.card-custom-style{
  border: 1px solid rgba(0,0,0,.1)!important;

}
.table thead{
  font-size:13px;
}
.table tbody{
  font-size:13px;
}
.change-color{
  font-size: 20px;
  font-weight: 500;
  color: #10cec1;
}





select.form-select {
    height: 30px;
    font-size: 12px;
    padding: 5px;
    border-radius: 0;
}
button.btn-submit {
    margin-top: 15px;
    border: none;
    padding: 6px 22px;
    background: linear-gradient(21deg, #009688 7.42%, #4CAF50 91.76%);
    color: #fff;
    font-size: 13px;
}
label {
    font-size: 13px;
}
.table .btn-primary {
    color: #fff;
    background: linear-gradient(21deg, #009688 7.42%, #4CAF50 91.76%);
    border: none;
    color: #fff !important;
    padding: 3px 10px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
} 
.table-bordered>:not(caption)>*>* {
    border-width: 0 1px;
    padding: 3px 6px !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(247 249 244) !important;
    color: var(--bs-table-striped-color);
}
.uploadedimg img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.table {
  vertical-align: middle !important;
}
button.btn-cancel {
    background:linear-gradient(21deg, #d0bc44 7.42%, #e5a025 91.76%);
    border: none;
    padding: 6px 22px;
    color: #fff;
    font-size: 13px;
}
.removeDoc {
  position: absolute;
    right: 13px;
    top: 24px;
}

.headingbg{
  background: #f6fdf7;
    padding: 8px 12px;
    color: #000;
    font-size: 15px;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border: none;
}
.btn-primary {
    color: #fff;
    background: linear-gradient(21deg, #009688 7.42%, #4CAF50 91.76%);
    border: none;
}
.form-group {
    margin-bottom: 8px;
}
.form-control {
    border-radius: 0;
    height: 29px !important;
    padding: 0;
    line-height: 29px;
}
.form-control-sm{
    border-radius: 0 !important;
    height: 29px !important;
    padding: 0 !important;
    line-height: 29px !important;
}
.datepicker-box {
    position: relative;
}
.datepicker-box i {
    position: absolute;
    right: 10px;
    top:10px;
}

.arrow {
  background: #26a5925e;
  height: 26px !important;
  line-height: 26px !important;
  width: 26px !important;
  border-radius: 50px;
}
.bootstrap-select.form-control-sm .dropdown-toggle {
  padding: 0px 6px;
  border: 1px solid #ccc;
}
.bootstrap-select.form-control-sm .dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-7 {
  margin-bottom: 7px;
}
.nav-item>button {
  color: #000 !important;
  background: #efefef !important;
}
.nav-item>button.active {
  background: linear-gradient(21deg, #009688 7.42%, #4CAF50 91.76%) !important;
  color: #fff !important;
}
button i {
  top: 2px;
  position: relative;
}

.header-box {
  background: #3cc5b3;
  padding: 3px 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  border: 1px solid #1db1a2;
  box-shadow: inset 4px 6px 10px #18786f;
}
.form-control-sm, .form-control {
  border-radius: 0px !important;
  height: 29px !important;
  padding: 0px 5px !important;
  line-height: 29px !important;
  font-size: 12px;
}
.bootstrap-select {
  padding: 0 !important;
}
.bootstrap-select .dropdown-item {
  padding: 0px 8px;
  font-size: 12px;
  line-height: 20px;
}
.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1ed2b4;
}
.bootstrap-select .dropdown-item:focus, .bootstrap-select .dropdown-item:hover {
  color: #fff;
  background-color: #1ed2b4;
}

table .btn-group-sm>.btn, table .btn-sm {
    padding: 0;
    font-size: .875rem;
    border-radius: 0.2rem;
    width: 23px;
    height: 23px;
    border-radius: 0;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border:none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-size: 13px;
    padding: 5px;
    margin: 0 5px 0 0;
}
div.dt-buttons {
    float: left;
    margin-left: 12px;
    margin-bottom: 10px;
}
button.dt-button {
    background: #70cd9e;
    color: white;
    font-size: 11px;
    border: none;
    transition:all linear 0.5s;
}
button.dt-button:hover {
    background: #009688 !important;
    color: white;
    font-size: 11px;
    border: none !important;
}
.datatable thead {
     font-size: 13px;
    background:linear-gradient(21deg, #69c798 7.42%, #b4b75e 91.76%);
    color: #ffffff;
    height: 32px;
    line-height: 32px;
}
.datatable>tr.odd{
  background-color: #fff;
}
div#DataTables_Table_0_info {
    font-size: 12px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid transparent;
    background: transparent;
    font-size: 12px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  color:#000 !important
}
.imglftbox {
     position: absolute;
    left: 20px;
    right: 20px;
    bottom: 10px;
    z-index: 99;
    background: #fff;
    border-radius: 5px;
    text-align: left;
    padding: 15px 0 0 10px;
    padding-left: 20px;
}
.imglftbox h6 {
    color: #1f9d88;
    font-size: 15px;
    font-weight: 500;
}
.cardsmall{
    border: #e1f39f 1px solid;
    padding: 15px;
    background: #faffe5;
    min-height: 120px;
}
.cardsmall h6 {
    color: #45584b;
    font-size: 14px;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.data p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1F2937;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: left;
}

.data .range {
  position: relative;
  background-color: #E5E7EB;
  width: 60%;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.data .range .fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #10B981;
  width: 52%;
  height: 100%;
  border-radius: 0.25rem;
}
.card_large{
  border: #ddd 1px solid; 
  padding: 25px;
  min-height: 256px;
}
.card_large h6 {
    font-size: 14px;
    color: #239d93;
      margin-bottom: 0;
      margin-top: 7px;
}

.profile-box {
  list-style: none;
  margin: 0;
  background: linear-gradient(21deg, #009688 7.42%, #4CAF50 91.76%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 20px);
  left: 10px;
  position: relative;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #2a8f76;
  color: #fff;
}
.profile-box li:last-child {
  margin-left: 10px;
}
.profile-box li img {
  width: 40px;
  background: #017e69;
  border-radius: 50px;
  padding: 4px;
}
.profile-box li h5, .profile-box li h6 {
  margin: 0 0 0 0;
}
.profile-box li h5 {
  margin-bottom: 5px;
  font-size: 14px;
}
.profile-box li h6 {
  font-size: 12px;
  color: #4ff7db;
}
.logout-btn {
  margin-left: auto;
    font-size: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #c32030;
    padding: 0;
}
.card_large h3 {
    font-size: 24px;
    font-weight: 700;
  
}
.btm-small-cards{
  border:none;
  padding: 18px;
}
.btm-small-cards h6{
     font-size: 14px;
    margin-bottom: 0;
    margin-top: 7px;
}

.profile-box li {
  transition: all ease;
}
.close .profile-box li:nth-child(2){
  display: none;
}
.close .profile-box li:last-child {
  margin: 0;
  padding: 0;
}
.datepick-popup {
    z-index: 9999999 !important;
}


/* new-addition-css */
ul.nav-tabs {
    justify-content: space-between;
    position: relative;
}

.nav-tabs {
    border-bottom: none!important;
}
.nav-tabs li {
    text-align: center;
}
.nav-tabs .nav-link.active {
    background-color: transparent!important;
}
.nav-tabs .nav-link.active i {
    color: #198754!important;
    background-color: #fff;
    border-color: #198754!important;
}
.nav-item i {
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #d9d7d7;
    color: #b5b3b3;
    background: #fff;
}
ul.nav-tabs:after{
  position: absolute;
  content: '';
  left: 20px;
  right: 48px;
  border-bottom: #ddd solid 2px;
  top: 36px;
  z-index: -5;
}

table .form-control {
    width: 100%;
}

.icon-style i {
    background: white;
    width: 55px;
    height: 55px;
    font-size: 34px;
    border-radius: 50%;
    padding: 10px;
    color: #41c5ad;
}
.button-design a {
    color: #efefef;
    text-decoration: none!important;
}
.text-div {
    margin-left: 25px;
    line-height: 13px;
}

.button-design button {
    padding: 5px 7px;
    font-size: 12px;
    background: #41c5ad;
    color: white;
    border: 1px solid #41c5ad;
    font-weight: 500;
    border-radius: 5px;
}
.button-design i {
    font-size: 18px;
    margin-right: 5px;
}

.img-design img {
    width: 62px;
    background: #fff;
    border-radius: 50%;
    padding: 10px 10px;
    border: 1px solid #41c5ad;
}
.icon-style {
    text-align: center;
}

.paragraph-div p {
    font-size: 14px;
    margin-top: 6px;
    text-align: center;
}
.text-div h4 {
    font-size: 20px;
    color: #1ed2b4;
}

}
/* new-addition-css */